body {
    background-color:  rgb(255, 182, 192);;
  }
  h1 {
    color: rgb(252, 252, 252); text-align: center;
  }
  p {
    color: white
  }

  h2 {
    color: rgb(255, 255, 255);
  }

  h3 {
    color: rgb(255, 255, 255);
  }

  h4{
      color: aqua;
  }
  /*Coment*/

  .linguagem_ferramentas{
    background-color: rgb(255, 182, 192);
    color: rgb(255, 218, 8);
    border: 8px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
  }

  .links_style{
    background-color: rgb(255, 182, 192);
    color: rgb(255, 218, 8);
    border: 8px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
  }

  .descricao_style{
    background-color: rgb(255, 182, 192);
    color: rgb(255, 218, 8);
    border: 8px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
  }